jupyterlab
deltalake
sidrapy
pysus
jupyter
ipython
matplotlib
seaborn
pyspark==4.0.0
pandas==2.2.2
requests==2.31.0
pyarrow
bigtree==0.12.2
loguru==0.6.0
pycparser==2.21
python-dateutil==2.8.2
tqdm==4.64.0
urwid==2.1.2
requests